
section , article, nav, footer, body{
 margin:auto;
  }

header{
  background-color: yellow;
}

body{
  font-family:'Roboto', sans-serif;
  margin:0px;
  padding: 0px;
  background-color: #ebebeb;
}

.logo{
width: 50%;
float: left;
}

.barradecuotas{
 width: 100%;
 display: flex;
justify-content: center;
 }

.buscador{
  width: 50%;
  display: flex;
}
.box{
  display: flex;
}
.container-3{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
 
.container-3 input#search{
  width: 300px;
  height: 50px;
  background: #ebebeb;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 10px;
  border-radius: 5px;
  color: #fff;
}

.Titular1{
  background-color:#ebebeb;
  color:#666;
  font-size:24px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.azul{
color: #1259c3;
}

.Descripciones{
  color:#666;
  font-size: 16px;
  border-top-left-radius: 15px;
  padding-inline-start: 20px;
}

.Titular2{
  color:#666;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.precios{
  font-size:18px;
  width: 30%;
}

.Descuentos{
  color:#39b54a;
  font-size: 16px;
  width: 70%;
}

.icono{
  color:#39b54a;
  font-size: 16px;
  display: block;

}

.barradenavegacion{
  display: none;
  cursor: pointer;
}

.botonmenu{
  width: 40px;
  background-color: #0044AA;
  color: white;
  font-size: 20px;
  padding: 10px 0px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.icono, .precios, .Descuentos, .Descripciones{
  text-align: left;
}

.Descripciones{
  font-size: 20px;
  padding: 0;
}

.img{
  max-width: 45%;
}

.botonmenu:hover {
  background-color: #0022AA;
  cursor: pointer;
}

.enviar{
    color: white;
    background-color: #0044AA;
    border-radius: 5px;
    width: 30%;
    padding: 10px 0px;
}

.enviar:hover {
    background-color: #0022AA;
    cursor: pointer;
}

.login{
text-align: center;
}

footer{
  border-left-width: 5px;
  border-bottom: 20px;
  border-top: 20px;
  font-family:'Roboto', sans-serif;
  font-size:12px;
}  

.piedepagina{
  margin:20px 0px;
  padding: 20px, 5%;
}

.botonborrar{
  color:white;
  background-color: #AA0044;
  cursor: #CC1155;
  width:30%;
}

p{
  font-family:'Roboto', sans-serif;
  font-size:12px;
}

h3{
  color:#666;
}

.banner{
  padding: 0px, 0px;
  width: 100%;
  display: flex;
}

.seccionprincipal{
  width: 90%;
  text-align: center;
  display: flex;
}

article{
  margin: 20px;
  padding: 15px;
  background-color:white;
}

.cajaarcticle{
  display: block;
  border: solid #ebebeb 1px;
}

.inputlogin{
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
  border-radius: 5px;
  border:0px;
}

.piedepaginamedio{
  margin: 0px 0px;
}

.contenedorpiedepagina{
  background-color: white;
}

.botonborrar{
  width:30%;
}

.contenedor2{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.article2{
  display: inline-block;
  list-style: none;
  align-items: flex-end;
  flex-direction: row-reverse;
  width:80%

}

.article2 img{
  align-items: center;
  display: inline;
  width: 100%;
}

.seccionprincipal .icono {
display: inline-table;
flex-direction: row-reverse;
}

.contenedorregister{
  margin: auto;
  text-align: center;
}

.contenedorregister .content-boxintereses{
  text-align: left;
  margin-left: 35%;
}